<!DOCTYPE html>
<!-- speciality-items-wooden-coaster-plant-stand-wood-urn-wooden-signs-gifts-memorials-new-jersey-new-york-philadelphia -->
<html>
<head>
<title>WhatsApp</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/6.4.1/css/intlTelInput.css">
</head>
<body>
    <div class="container border mtb-4 pb-5">
    <div class="row justify-content-md-center">
      <span class="d-block p-2  mb-5 bg-primary text-white">WhatsApp Massenger</span>
      
        
          <div class="col col-lg-6 ">
            <h> </h1>
          </div>
          <div class="col col-lg-6 ">
            <h> </h1>
          </div>
    </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-6">

    <form method="POST">{% csrf_token %}
        
        
        <div class="form-group">
            <input type="hidden"  id="code" name ="code" value="" >
            <input type="tel" class = "form-control" id="mobile-number" placeholder="+1 989 126 6450" name="phone" value="">        
         
        </div>
        <div class="form-group pb-5">
          <label for="exampleFormControlTextarea1">Enter message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" name="submit">
            <!-- <button type="submit" >Send Verification Text</button> -->
        </div>
      </form>
      </div>
      </div>
      </div>
      
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/6.4.1/js/intlTelInput.min.js"></script>
<!-- <script type="text/javascript">
  $("#mobile-number").intlTelInput();
</script> -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#mobile-number").intlTelInput({
          // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js",
          // preferredCountries: ["us", "ca"],
          // separateDialCode: true,
          // initialCountry: "",
            
        // }).on('countrychange', function (e, countryData) {
        //   console.log(countryData.dialCode);
            // $("#code").val(($("#mobile-number").intlTelInput("getSelectedCountryData").dialCode));
            

        });
        alert("data-dial-code")


    });
   
</script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>
</html>